[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
pingouin = "*"
statsmodels = "*"
joblib = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.12"
